.addDB_container {
    width: 30em !important;
    left: 40%;
    position: fixed;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    overflow: hidden;
}

.container {
    height: 100vh !important;
    overflow: auto;
}